* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    font-family: poppins;
}
.navbar{
    padding-top: 25px;
}
nav {
    position: relative;
    width: calc(100% - 60px);
    height:160px;
    margin: 0 auto;
    background: #000000;
    z-index: 1;
    text-align: right;
    
}
nav li{
    padding-top:50px;
}
.logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
}
.menu-area li {
    display: inline-block;
    list-style-type: none;
}
.menu-area a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.menu-area a:hover {
    background: white;
    color: black;

}
nav:before {
    position: absolute;
    content: '';
    border-top: 0px solid #333;
    border-right: 0px solid #333;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    top: 100%;
    left: 0;
}
nav:after {
    position: absolute;
    content: '';
    border-top: 0px solid #333;
    border-left: 0px solid #333;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    top: 100%;
    right: 0;
}
.mainImage{
    padding-left:250px;
}

.dropbtn{
    background-color:#068e4e;
    color:white;
    padding:16px;
    font-size: 16px;
    border:none;
    cursor:pointer;
    text-decoration: underline;
}

.dropdown{
    position:relative;
    left:160px;
    bottom:317px;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width:160px;
    max-height:200px;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}


.flip-box{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:250px;
    top:50px;
}

.flip-box-inner{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}

.flip-box-back a{
    text-decoration:none;
    color:darkred;
}


.flip-box2{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:750px;
    top:-200px;
}

.flip-box-inner2{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box2:hover .flip-box-inner2{
    transform: rotateY(180deg);
}

.flip-box-front2, .flip-box-back2{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front2{
    background-color: #f0f0f0;
    color:black;
}

.flip-box-back2{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back2 a{
    text-decoration:none;
    color:darkred;
}
.flip-box3{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:1270px;
    top:-450px;
}

.flip-box-inner3{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box3:hover .flip-box-inner3{
    transform: rotateY(180deg);
}

.flip-box-front3, .flip-box-back3{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front3{
    background-color: 	#f0f0f0;
    color:black;
}

.flip-box-back3{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back3 a{
    text-decoration:none;
    color:darkred;
}
.flip-box4{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:250px;
    top:-350px;
}

.flip-box-inner4{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box4:hover .flip-box-inner4{
    transform: rotateY(180deg);
}

.flip-box-front4, .flip-box-back4{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front4{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back4{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back4 a{
    text-decoration:none;
    color:darkred;
}
.flip-box5{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:750px;
    top:-600px;
}

.flip-box-inner5{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box5:hover .flip-box-inner5{
    transform: rotateY(180deg);
}

.flip-box-front5, .flip-box-back5{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front5{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back5{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back5 a{
    text-decoration:none;
    color:darkred;
}
.flip-box6{
    background-color: transparent;
    width:400px;
    height:250px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:1270px;
    top:-850px;
}

.flip-box-inner6{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box6:hover .flip-box-inner6{
    transform: rotateY(180deg);
}

.flip-box-front6, .flip-box-back6{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front6{
    background-color: 	#f0f0f0;
    color:black;
}

.flip-box-back6{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back6 a{
    text-decoration:none;
    color:darkred;
}
.changingTodayTitle{
    position:relative;
    left:400px;
    font-size: 2em;
}
.degreestitle{
    position:relative;
    left:400px;
    font-size: 2em;
}
