
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    font-family: poppins;
}


.fixedwidth{
    width:850px;
    margin:0 auto;
}

.navbar{
    padding-top: 25px;
}
nav {
    position: relative;
    width: calc(100% - 60px);
    height:160px;
    margin: 0 auto;
    background: #000000;
    z-index: 1;
    text-align: right;

}
nav li{
    padding-top:50px;
}
.logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
}
.menu-area li {
    display: inline-block;
    list-style-type: none;
}
.menu-area a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.menu-area a:hover {
    background: white;
    color: black;

}
nav:before {
    position: absolute;
    content: '';
    border-top: 0px solid #333;
    border-right: 0px solid #333;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    top: 100%;
    left: 0;
}
nav:after {
    position: absolute;
    content: '';
    border-top: 0px solid #333;
    border-left: 0px solid #333;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    top: 100%;
    right: 0;
}

.Menu:hover .dropdown-content2{
    display:block;
}
.Menu:hover .dropbtn2{
    background-color: white;
    color:black
}
.dropbtn2{
    background-color:black;
    color:white;
    padding:16px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    border:none;
    cursor:pointer;
}

.Menu{
    position:relative;
    right:390px;
    bottom:57px;
    display:inline-block;
}

.dropdown-content2{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width:480px;
    max-height:450px;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content2 a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content2 a:hover {background-color: #f1f1f1}


.mainImage{
    position:relative;
    right:60px;
    top:20px;
}
.mainImage h1{
    position:relative;
    bottom:375px;
    left:255px;
    color:white;
    font-size:6em;
}

.dropbtn{
    background-color:#068e4e;
    color:white;
    padding:16px;
    font-size: 16px;
    border:none;
    cursor:pointer;
    text-decoration: underline;
}

.dropdown{
    position:relative;
    left:160px;
    bottom:370px;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width:160px;
    max-height:200px;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

.announcements{
    position:relative;
    right:60px;
    bottom:80px;
    background-color: lightgray;
    width:500px;
    height:180px;
    padding-left:10px;
    padding-top:10px;
}

.announcements a{
    text-decoration: none;
    color:black;
    font-size:1.3em;
}

.News{
    position: relative;
    left:545px;
    bottom:260px;
    background-color: lightgray;
    width:500px;
    height:180px;
    padding-top:10px;
    padding-left:10px;
}

.News a{
    text-decoration: none;
    color:black;
    font-size:1.3em;
}


.flip-box{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:10px;
    bottom:100px;
}

.flip-box-inner{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}

.flip-box-back a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back h1{
    color:black;
}


.flip-box2{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:545px;
    top:-370px;
}

.flip-box-inner2{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box2:hover .flip-box-inner2{
    transform: rotateY(180deg);
}

.flip-box-front2, .flip-box-back2{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front2{
    background-color: #f0f0f0;
    color:black;
}

.flip-box-back2{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back2 a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back2 h1{
    color:black;
}

.flip-box3{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:545px;
    top:80px;
}

.flip-box-inner3{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box3:hover .flip-box-inner3{
    transform: rotateY(180deg);
}

.flip-box-front3, .flip-box-back3{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front3{
    background-color: 	#f0f0f0;
    color:black;
}

.flip-box-back3{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back3 a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back3 h1{
    color:black;
}

.flip-box4{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:10px;
    top:-550px;
}

.flip-box-inner4{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box4:hover .flip-box-inner4{
    transform: rotateY(180deg);
}

.flip-box-front4, .flip-box-back4{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front4{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back4{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back4 a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back4 h1{
    color:black;
}

.flip-box5{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:545px;
    top:-820px;
}

.flip-box-inner5{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box5:hover .flip-box-inner5{
    transform: rotateY(180deg);
}

.flip-box-front5, .flip-box-back5{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front5{
    background-color: #f8f8f8;
    color:black;
}

.flip-box-back5{
    background-color: #f8f8f8;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back5 a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back5 h1{
    color:black;
}

.flip-box6{
    background-color: transparent;
    width:400px;
    height:270px;
    border:1px solid #f1f1f1;
    perspective: 1000px;
    position:relative;
    left:10px;
    top:-730px;
}

.flip-box-inner6{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box6:hover .flip-box-inner6{
    transform: rotateY(180deg);
}

.flip-box-front6, .flip-box-back6{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front6{
    background-color: 	#f0f0f0;
    color:black;
}

.flip-box-back6{
    background-color: #f0f0f0;
    color:white;
    transform: rotateY(180deg);
    font-size:1.4em;
    line-height: 1.9em;
    padding-top:15px;
}
.flip-box-back6 a{
    text-decoration:none;
    color:darkred;
}

.flip-box-back6 h1{
    color:black;
}

.changingTodayTitle{
    position:relative;
    left:10%;
    bottom:600px;
    font-size: 2em;
}
#contentBilder{
    position: relative;
    bottom:590px;
    right:60px;

}

.degreestitle{
    position:relative;
    left:30%;
    bottom:170px;
    font-size: 2em;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar2 {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 28%;
}

/* Style the links inside the navigation bar */
.navbar2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar2 a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar2 a.active {
    background-color: #4CAF50;
    color: white;
}



/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: black;
    color: gray;
}

/* Twitter */
.fa-twitter {
    background: black;
    color: white;
}
.fa-instagram {
    background: black;
    color: white;
}
.fa-linkedin{
    background: black;
    color: white;

}
.fa-youtube{
    background: black;
    color: white;

}
.fa-twitch{
    background: black;
    color: white;

}
.fa-snapchat{
    background: black;
    color: white;

}
.fa-reddit{
    background:black;
    color: white;

}
