/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 220px;
  align-items: center;
  width: 100%;
}

.nav-logo {
  display: flex;
  max-width: 30%;
  margin-top: 3%;
}

.nav-logo img{
  max-width: 100%;
  height: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  width: 35%;
}

nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  color: #FFFEFB;
  padding: 2px;
  transition: all 0.3s ease-out;
}

/* HeroDisplay bilde pluss news */
.hero-display-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
}
.hero-display-container img{
  max-width: 100%;
  height: auto;
}
.hero-display-info {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;

}
.info1 {
  display: flex;
  width: 45%;
  flex-direction: column;
  background-color: lightgray;
  padding: 1%;
}

/* Cards */
.cards-main-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.heading-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding-bottom: 8%;
  padding-top: 4%;
}
.card-container img {
  max-width: 20%;
  height: auto;
}

/* Heading over bildet i bunnen */
.bottom-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin: 5%;
}

/* Bildet i bunnen */
.bottom-picture {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.bottom-picture img{
  max-width: 100%;
  height: auto;
}

/* Justerer innhold under 750 px */

@media only screen and (max-width: 750px) {
  .card-row {
    flex-direction: column;
  }
  .card-container {
    width: 100%;
    margin-top: 5%;
  }
  .hero-display-info {
    flex-direction: column;
  }
  .info1 {
    width: 100%;
    margin-top: 5%;
  }
  .bottom-picture {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }

}
